.background {
    background:#00ADB5;
}
.headerColor {
    color:#EEEEEE;
    background:#393E46;
}

.bodyColor {
    color:#393E46;
    background:#EEEEEE;
}

.buttonColor {
    color:#393E46;
    background:#00ADB5;
}